body {
  background-color: red;
}

.blocking {
  background-color: black;
}

.smallText {
  font-size: 1.5rem;
}

.locationButton {
  padding: 100px;
}

.locationContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15%;
}

.monsterContainer {
  text-align: center;
  margin-top: 200px;
}

.player2Container {
  margin-top: 200px;
  margin-left: 60%;
}

.enemyStats h2 {
  text-shadow: white 1px 1px;
}
.player2 {
  width: 200px;
}

.player1Container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25%;
  margin-top: 200px;
}

@media screen and (max-width: 630px) {
  .player1Container {
    margin-left: 0%;
    justify-content: center;
  }

  .player2Container {
    margin-left: 40%;
  }
}

.outerBox {
  border: gray dashed 2px;
  border-radius: 10px;
  background-color: black;
}

.statBox {
  border: black dashed 2px;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 10px;
  min-height: 100%;
}

.statBox h1 {
  text-align: right;
}

.dynaBox {
  position: relative;
  border-radius: 10px;
  border: 2px dashed black;
  padding: 10px;
  background-color: white;
}

#hp {
  -webkit-appearance: none;
  max-width: 250px;
}

#hp::-webkit-progress-bar {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset;
}

#hp::-webkit-progress-value {
  transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#enemyHP {
  -webkit-appearance: none;
  max-width: 100px;
}

#enemyHP::-webkit-progress-bar {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset;
}

#enemyHP::-webkit-progress-value {
  transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cooldown {
  padding-bottom: 100px;
}

.moveBox {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}

.moveBox button {
  padding: 10px 20px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.5s;
  border: none;
  border-right: white 2px solid;
  background-color: lightblue;
}

.moveBox button:hover {
  background-color: lightgreen;
}

.moveTip {
  position: absolute;
  top: 50px;
  left: 7px;
  background-color: lightgray;
  padding: 5px;
  border: none;
  min-width: 300px;
}

#move3Tip {
  font-size: 0.85rem;
}

#move1Tip,
#move2Tip,
#move3Tip {
  visibility: hidden;
}

#move1:hover + #move1Tip {
  visibility: visible;
}

#move2:hover + #move2Tip {
  visibility: visible;
}

#move3:hover + #move3Tip {
  visibility: visible;
}

/* Gym Styling ----------------------------------------------------- */
#workouts .gymMoves {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

#workouts #move1Stats,
#move2Stats,
#move3Stats {
  background-color: white;
  padding: 5px 5%;
  min-width: 100px;
}

#workouts .playerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin-top: 300px;
}

#workouts #playerStats {
  background-color: white;
  margin: 5px;
  padding: 5px;
}
