body, html {
    height: 100%;
  }
  
  .bg { 
    /* The image used */
    background-image: url("../images/rain2.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #outer-question-box {
      background-color: white;
      border-radius: 70px;
  }

  #inner-question-box {
      background-color: #3991b4af;
      border-radius: 85px;
      box-shadow: 0px 1.5px 10px black;
  }